<a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">Inventory
    Management PC Manager</a>
<button class="navbar-toggler position-absolute d-md-none collapsed"
    type="button" data-bs-toggle="collapse"
    data-bs-target="#sidebarMenu" aria-controls="sidebarMenu"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="navbar-nav">
    <div class="nav-item text-nowrap">

        <span class="nav-link px-3 d-inline text-light">V.2.1.0 -
            <a class="nav-link d-inline"
                href="https://owenwattimena.github.io"
                target="_blank"> Dev.by
                Owen Wattimena</a></span>
    </div>
</div>