<div class="modal" tabindex="-1" aria-hidden="false" id="modal"
    data-bs-backdrop='static'>
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable
    ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Enter your passcode</h5>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <input type="password" class="form-control"
                        placeholder="Enter your passcode" id="inputPasscode">
                    <div class="form-text text-danger" id="errorText"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                    <button type="button" class="btn btn-primary"
                    id="passcodeSubmit">Login</button>
            </div>
        </div>
    </div>
</div>