<div class="position-sticky pt-3">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" aria-current="page"
                href="#" id="dashboard-link">
                <span data-feather="home"></span>
                Dashboard
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"  id="transaction-link">
                <span data-feather="file"></span>
                Transaction
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" id="product-link">
                <span data-feather="shopping-cart"></span>
                Product
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" id="division-link">
                <span data-feather="users"></span>
                Division
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" id="stock-plan-link">
                <span data-feather="bar-chart-2"></span>
                Stock Planning
            </a>
        </li>
    </ul>
</div>